@import url('https://fonts.googleapis.com/css2?family=Poppins');

::-webkit-scrollbar {
    width: 8px;
  }
  
/* Background of the scrollbar (light gray) */
::-webkit-scrollbar-track {
    background-color: #f0f3f7;
}
  
/* Color of the scrollbar (light gray and transparent) */
::-webkit-scrollbar-thumb {
    background-color: rgba(200, 200, 200, 0.7); 
    border-radius: 6px;
}
  
/* Top of the scrollbar (make it transparent) */
::-webkit-scrollbar-corner {
    background-color: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;

    scrollbar-color: #f0f3f7 rgba(200, 200, 200, 0.7);
}

body {
    font-size: 62.5%;
    background-color: #f0f3f7;
    scroll-behavior: smooth;
}

.header__title,
.header__subtitle {
    margin-top: 12px;
    padding: 0 6px;
    text-align: center;
}

.header__title {
    font-size: 2.4rem;
}

.header__subtitle {
    font-size: 1.4rem;
    color: #bfbfbf;
}

.cards {
    display: grid;
    place-content: center;
}

.container {
    margin: 60px 100px;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    gap: 18px;
}

.card {
    width: 320px;
    height: 380px;
    padding: 14px;
    border-radius: 6px;
    text-align: center;
    background-color: #f0f3f7;
    box-shadow: 0 2px 12px grey;
    overflow: hidden;
}

.card__title,
.card__image {
    margin-bottom: 10px;
}

.card__title {
    font-size: 1.5rem;
}

.card__image {
    height: 150px;
    border-radius: 50%;
    object-fit: contain;
    object-position: center;
    pointer-events: none;
}

.card__subtitle {
    text-align: justify;
    font-size: .9rem;
    font-weight: 600;
}

.card__description {
    height: 120px;
    overflow: scroll;
}

.description__content {
    text-align: justify;
    padding-right: 6px;
    font-size: .8rem;
}

.footer {
    height: 80px;
    display: grid;
    place-content: center;
    background-color: #f0f3f7;
    border-top: solid .9px #bfbfbf;
}

.footer__content {
    font-size: 1rem;
    font-weight: 600;
    color: #3c424d;

}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: repeat(1, minmax(min-content, 1fr));
    }
}